/*
 * Styles for the main elements of the Patient Detail Page
 */
#pageheader-sticky {
  position: sticky;
  top: 0;
  z-index: 1;
}
#pageheader-left {
  flex: 0 0 calc(18vw);
  width: 18vw;
  min-width: 200px;
  display: inline-flex;
  justify-content: space-between;
  margin-right: 1em;
  padding-right: 1em;
}
#pageheader-right {
  flex: 1;
  display: flex;
  justify-content: space-between;
}
#tabbar {
  position: sticky;
  top: 56px;  /* exactly the height of the header */
  background-color: rgba(255, 255, 255, 0.95);
  padding-top: 0.1em;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
}

.tablink:hover {
  color: rgba(0, 0, 0, 0.7);
  text-decoration: none;
}
